torch>=2.0.0+cu126
numpy
opencv-python
matplotlib
Pillow
scipy
pytesseract  # For text recognition with Tesseract OCR
transformers  # For using Marian-MT translation model
sentencepiece  # Required by Marian-MT and some transformer models
ultralytics
flask
huggingface_hub
sacremoses
ollama
opencv-contrib-python